<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-eye-open"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/Users">&nbsp;&nbsp; Users</a></li>
        <li><a href="/Projects">&nbsp;&nbsp; Projects</a></li>
        <li class="divider"></li>
        <li><a href="/Overview">&nbsp;&nbsp; Overview</a></li>
        <li class="divider"></li>

    </ul>
</li>
