<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-eye-open"></span>
    </a>
    <ul class="dropdown-menu" id="dropdown_admin_menu">
        @*<li class="divider"></li>*@
        <li><a href="/BusinessRole">&nbsp;&nbsp; Business Roles</a></li>
        <li><a href="/Department">&nbsp;&nbsp; Departments</a></li>
        <li><a href="/User">&nbsp;&nbsp; Users</a></li>
        <li><a href="/Project">&nbsp;&nbsp; Projects</a></li>
        <li><a href="/Task">&nbsp;&nbsp; Tasks</a></li>
        <li class="divider"></li>
        <li><a href="/Overview">&nbsp;&nbsp; Overview</a></li>
        <li class="divider"></li>
    </ul>
</li>
