@model IEnumerable<FakeJiraDataLibrary.Models.Project>
@using FakeJira.Models

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-primary" id="projects_header_id">

        <div class="row">

            <div class="col-md-2" style="margin-left: 15px;">
                <h3>Projects</h3>
            </div>

            <div class="col-md-5">
                @if (User.IsInRole("Admin"))
                {
                    <h3>@Html.Partial("_CreateButtonPartial")</h3>
                }
            </div>

            <div class="col-md-5">

            </div>

        </div>

</div>

<div class="panel panel-primary">

    <div class="panel panel-heading panel-info">
        <p></p>
    </div>

    <div class="panel-body">
        <table class="table table-condensed table-hover table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
            </tr>
            @foreach (var i in Model)
            {
        <tr>
            <td>
                @*@Html.DisplayFor(m => i.Name)*@
                @Html.ActionLink(i.Name,
                "IndexFilterProject",   // <-- ActionMethod
                 "Task", // <-- Controller Name.
                new { id = i.Name }, // <-- Route arguments.
                null
                )
            </td>
            @if (User.IsInRole("Admin"))
            {
                @Html.Partial("_TableButtonPartial", new MiscButtonPartial { ProjectId = i.Id })
            }

        </tr>
            }
        </table>
    </div>


</div>
