@model IEnumerable<FakeJiraDataLibrary.Models.Project>
@using FakeJira.Models

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-2">
        <h2>Projects</h2>
    </div>
    <div class="col-md-5">
        @if (User.IsInRole("Admin"))
        {
            <h2>@Html.Partial("_CreateButtonPartial")</h2>
        }
    </div>
    <div class="col-md-5">
        
    </div>
</div>


<br />

<table class="table table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>

    </tr>

    @foreach(var i in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(m => i.Name)*@
                        @Html.ActionLink(i.Name,
                        "IndexFilter",   // <-- ActionMethod
                         "Task", // <-- Controller Name.
                        new { i.Name }, // <-- Route arguments.
                        null
                        )
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.Partial("_TableButtonPartial", new MiscButtonPartial { ProjectId = i.Id })
                        }

                    </td>
                </tr>
            }
</table>