body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*
 Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */

.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default*/ 
input,
select,
textarea {
    max-width: 280px;
}

#brand_name_li {
    font-size: larger;
    background-color: #00A379;
}

#timestamp_id {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    margin-top: auto;
    font-weight: bold;
}

.flex-container {
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.flex-container > div {
    background-color: whitesmoke;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid
}

/*#projects_header_id {
    background-color: #08ac81;
    border-color: #08ac81;
}*/

#nav_menu_li:hover {
    background-color: #00A379;
}
#home_header_id {
}
